
@{
    ViewData["Title"] = "HomePage";
}
<h1 class="center">Архивы погоды</h1>

<p>
    Здесь вы можете загружать архивы погоды и просматривать загруженное содержимое. Для можете воспользоваться кнопками вверху страницы или просто 
    <a href="/WeatherData/WeatherElementsAdd">загрузить</a> всё что нужно и <a href="/WeatherData/WeatherElementsList">посмотреть</a>.
</p>
